#Instance general
#Component Simulation
seed = 123
mobility-seed = 123
simulation-time = 120.000000000
time-step-event-synchronization-step = 0.100000000
trace-output-mode = Text
trace-index-output = true
trace-output-file = simulation.trace
statistics-output-file = simulation.stat
statistics-output-for-no-data = true
allow-node-re-creation = false
network-static-route-file = simulation.routes
network-terminate-sim-when-routing-fails = false
progress-sim-time-output-interval-percents = 5.000000000
enable-unused-parameter-warnings = true

#Component GIS
gis-road-driving-side = Left
gis-los-break-down-cureved-road-into-straight-roads = true
gis-number-entrances-to-building = 0
gis-number-entrances-to-station = 0
gis-number-entrances-to-busstop = 0
gis-number-entrances-to-park = 0
gis-road-set-intersection-margin = false

#Component Antenna/Propagation
number-data-parallel-threads-for-propagation = 1
antenna-pattern-two-2d-to-3d-interpolation-algorithm-number = 1
antenna-patterns-are-in-legacy-format = false

#Component Dot11
dot11-bit-error-rate-curve-file = dot11modes.ber
dot11-phy-use-short-guard-interval-and-shrink-ofdm-symbol-duration = false


[101000001-101000002] is-member-of = IntersectionObjectType
[100000001] is-member-of = RoadObjectType
[1] is-member-of = WiredObjectType
[2] is-member-of = Dot11gObjectType
[3-4] is-member-of = Dot11gAndWiredObjectType
#Instance general

#Instance 2.4GHzBand
#Component Channel
[2.4GHzBand] channel-frequency-mhz = 2400.000000000
[2.4GHzBand] channel-bandwidth-mhz = 20.000000000
[2.4GHzBand] propagation-enable-mask-calculated-channel-interference = false
[2.4GHzBand] propagation-model = TwoRayGround
[2.4GHzBand] enable-propagation-delay = true
[2.4GHzBand] max-signal-propagation-meters = 100000000.000000000
[2.4GHzBand] propagation-allow-multiple-interfaces-on-same-channel = false
[2.4GHzBand] fading-model = Off


#Instance general
#Component Common

#Component Position

#Component CommunicationObject

#Component SimulationObject
[1-4] trace-enabled-tags = Application Network
[1-4,100000001,101000001-101000002] trace-start-time = 0.000000000

#Component GisObject
[100000001,101000001-101000002] gisobject-disable-time = inf_time
[100000001,101000001-101000002] gisobject-enable-time = inf_time
[100000001,101000001-101000002] gisobject-elevation-reference-type = GroundLevel

#Component Road

#Component PointObject

#Component Intersection

#Component Network (Node)
[1-4] network-hop-limit = 64
[1-4] network-loopback-delay = 0.000000001

#Component Transport

#Component Mobility
[3-4] mobility-model = Stationary
[2] mobility-model = Gis-Based-Random-Waypoint
[2-4] mobility-granularity-meters = 1.000000000
[2] mobility-wp-pause-time = 0.000000000
[2] mobility-wp-min-speed-meter-per-sec = 15.000000000
[2] mobility-wp-max-speed-meter-per-sec = 20.000000000
[2] mobility-gis-ground-object-type = Road
[2-4] mobility-init-positions-file = simulation.pos
[2] mobility-lane-offset-meters = 4.000000000
[2] mobility-route-search-based-algorithm = false
[3-4] mobility-need-to-add-ground-height = true


#Instance CBR1

#Instance CBR2

#Instance wired1
#Component Routing

#Component Network (Interface)
[1,3-4;wired1] network-address = 90.0.0.0 + $n
[1,3-4;wired1] network-prefix-length-bits = 24
[1,3-4;wired1] network-subnet-is-multihop = false
[1,3-4;wired1] network-address-is-primary = false
[1,3-4;wired1] network-allow-routing-back-out-same-interface = true
[1,3-4;wired1] network-ignore-unregistered-protocol = false
[1,3-4;wired1] network-mtu-bytes = 1500
[1,3-4;wired1] mac-protocol = Abstract-Network
[1,3-4;wired1] interface-output-queue-max-packets = 1000
[1,3-4;wired1] interface-output-queue-max-bytes = 1000000
[1,3-4;wired1] network-enable-dhcp-client = false
[1,3-4;wired1] network-enable-dhcp-server = false
[1,3-4;wired1] network-enable-ndp = false
[1,3-4;wired1] network-enable-arp = false

#Component AbstractNetworkMac
[1,3-4;wired1] abstract-network-output-bandwidth-bits-per-sec = 100000000
[1,3-4;wired1] abstract-network-min-latency = 0.010000000
[1,3-4;wired1] abstract-network-max-latency = 0.010000000
[1,3-4;wired1] abstract-network-mac-packet-drop-rate = 0.000000000


#Instance dot11g
#Component Antenna/Propagation (Interface)
[2-4;dot11g] channel-instance-id = 2.4GHzBand
[2-4;dot11g] antenna-model = Omnidirectional
[2-4;dot11g] antenna-gain-dbi = 0.000000000
[2-4;dot11g] antenna-height-meters = 1.500000000
[2-4;dot11g] antenna-azimuth-degrees = 0.000000000
[2-4;dot11g] antenna-elevation-degrees = 0.000000000
[2-4;dot11g] antenna-offset-meters = 0.000000000
[2-4;dot11g] antenna-offset-degrees = 0.000000000

#Component Routing

#Component Network (Interface)
[2;dot11g] network-address = 0.0.0.0
[3;dot11g] network-address = 90.2.1.0 + $n
[4;dot11g] network-address = 90.2.2.0 + $n
[2-4;dot11g] network-prefix-length-bits = 24
[2-4;dot11g] network-subnet-is-multihop = false
[2-4;dot11g] network-address-is-primary = false
[2-4;dot11g] network-allow-routing-back-out-same-interface = true
[2-4;dot11g] network-ignore-unregistered-protocol = false
[2-4;dot11g] network-mtu-bytes = 1500
[2-4;dot11g] mac-protocol = Dot11
[2-4;dot11g] interface-output-queue-max-packets-per-subq = 1000
[2-4;dot11g] interface-output-queue-max-bytes-per-subq = 1000000
[3-4;dot11g] network-enable-dhcp-client = false
[2;dot11g] network-enable-dhcp-client = true
[2;dot11g] network-enable-dhcp-server = false
[3-4;dot11g] network-enable-dhcp-server = true
[2-4;dot11g] network-dhcp-model = Abstract
[2-4;dot11g] dhcp-client-packet-priority = 0
[2-4;dot11g] dhcp-server-packet-priority = 0
[2-4;dot11g] dhcp-server-use-server-address-as-default-gateway = true
[2-4;dot11g] network-enable-ndp = false
[2-4;dot11g] network-enable-arp = false

#Component Dot11Mac
[3-4;dot11g] dot11-node-type = Access-Point
[2;dot11g] dot11-node-type = Mobile-STA
[3-4;dot11g] dot11-beacon-transmit-interval = 0.100000000
[2;dot11g] dot11-channel-scan-interval = 0.500000000
[2;dot11g] dot11-channel-scan-start-time-max-jitter = 0.500000000
[2;dot11g] dot11-association-threshold-rssi-dbm = -76.000000000
[2;dot11g] dot11-disassociation-threshold-rssi-dbm = -80.000000000
[2;dot11g] dot11-associate-failure-timeout-interval = 1.000000000
[2;dot11g] dot11-beacon-rssi-moving-average-coefficient = 0.500000000
[2;dot11g] dot11-authentication-timeout-interval = 1.000000000
[3-4;dot11g] dot11-access-point-auth-processing-delay = 0.010000000
[2-4;dot11g] dot11-initial-channel-number = 0
[2-4;dot11g] dot11-map-ip-multicast-addresses = false
[2-4;dot11g] dot11-enable-high-throughput-mode = false
[2-4;dot11g] dot11-adaptive-rate-control-type = Static
[2-4;dot11g] dot11-modulation-and-coding = BPSK_0.5
[2-4;dot11g] dot11-modulation-and-coding-for-management-frames = BPSK_0.5
[2-4;dot11g] dot11-modulation-and-coding-for-broadcast = BPSK_0.5
[2-4;dot11g] dot11-ack-datarate-selection-type = SameAsData
[2-4;dot11g] dot11-ack-datarate-match-num-spatial-streams = false
[2-4;dot11g] dot11-rts-threshold-size-bytes = 2346
[2-4;dot11g] dot11-short-frame-retry-limit = 7
[2-4;dot11g] dot11-long-frame-retry-limit = 4
[3-4;dot11g] dot11-ap-scheduling-algorithm = FIFO
[2-4;dot11g] dot11-max-aggregate-mpdu-size-bytes = 0
[2-4;dot11g] dot11-max-num-aggregate-subframes = 64
[2-4;dot11g] dot11-protect-aggregate-frames-with-single-acked-frame = true
[2-4;dot11g] dot11-allow-frame-aggregation-with-txop-zero = false
[2-4;dot11g] dot11-contention-window-min-slots = 15
[2-4;dot11g] dot11-contention-window-max-slots = 1023
[2-4;dot11g] dot11-disabled-to-jump-on-medium-without-backoff = false
[2-4;dot11g] dot11-qos-type = EDCA
[2-4;dot11g] dot11-edca-category-0-priority-list = 0
[2-4;dot11g] dot11-edca-category-0-num-aifs-slots = 7
[2-4;dot11g] dot11-edca-category-0-contention-window-min-slots = 15
[2-4;dot11g] dot11-edca-category-0-contention-window-max-slots = 1023
[2-4;dot11g] dot11-edca-category-0-frame-lifetime = inf_time
[2-4;dot11g] dot11-edca-category-0-downlink-txop-duration = 0.000000000
[2-4;dot11g] dot11-edca-category-0-max-non-fifo-aggregate-size-bytes = 0
[2-4;dot11g] dot11-edca-category-1-priority-list = 1
[2-4;dot11g] dot11-edca-category-1-num-aifs-slots = 3
[2-4;dot11g] dot11-edca-category-1-contention-window-min-slots = 15
[2-4;dot11g] dot11-edca-category-1-contention-window-max-slots = 1023
[2-4;dot11g] dot11-edca-category-1-frame-lifetime = inf_time
[2-4;dot11g] dot11-edca-category-1-downlink-txop-duration = 0.000000000
[2-4;dot11g] dot11-edca-category-1-max-non-fifo-aggregate-size-bytes = 0
[2-4;dot11g] dot11-edca-category-2-priority-list = 2
[2-4;dot11g] dot11-edca-category-2-num-aifs-slots = 2
[2-4;dot11g] dot11-edca-category-2-contention-window-min-slots = 7
[2-4;dot11g] dot11-edca-category-2-contention-window-max-slots = 15
[2-4;dot11g] dot11-edca-category-2-frame-lifetime = inf_time
[2-4;dot11g] dot11-edca-category-2-downlink-txop-duration = 0.000000000
[2-4;dot11g] dot11-edca-category-2-max-non-fifo-aggregate-size-bytes = 0
[2-4;dot11g] dot11-edca-category-3-priority-list = 3
[2-4;dot11g] dot11-edca-category-3-num-aifs-slots = 2
[2-4;dot11g] dot11-edca-category-3-contention-window-min-slots = 3
[2-4;dot11g] dot11-edca-category-3-contention-window-max-slots = 7
[2-4;dot11g] dot11-edca-category-3-frame-lifetime = inf_time
[2-4;dot11g] dot11-edca-category-3-downlink-txop-duration = 0.000000000
[2-4;dot11g] dot11-edca-category-3-max-non-fifo-aggregate-size-bytes = 0

#Component Dot11Phy
[2-4;dot11g] dot11-phy-protocol = IEEE802.11
[2-4;dot11g] dot11-tx-power-specified-by = PhyLayer
[2-4;dot11g] dot11-tx-power-dbm = 20.000000000
[2-4;dot11g] dot11-radio-noise-figure-db = 10.000000000
[2-4;dot11g] dot11-preamble-detection-power-threshold-dbm = -82.000000000
[2-4;dot11g] dot11-energy-detection-power-threshold-dbm = -62.000000000
[2-4;dot11g] dot11-signal-capture-ratio-threshold-db = 1000.000000000
[2-4;dot11g] dot11-ofdm-symbol-duration = 0.000004000
[2-4;dot11g] dot11-slot-time = 0.000009000
[2-4;dot11g] dot11-sifs-time = 0.000010000
[2-4;dot11g] dot11-rx-tx-turnaround-time = 0.000002000
[2-4;dot11g] dot11-phy-rx-start-delay = 0.000025000
[2-4;dot11g] dot11-preamble-length-duration = 0.000016000
[2-4;dot11g] dot11-short-training-field-duration = 0.000008000
[2-4;dot11g] dot11-plcp-header-length-duration = 0.000004000
[2-4;dot11g] dot11-phy-high-throughput-header-additional-duration = 0.000012000
[2-4;dot11g] dot11-phy-high-throughput-header-additional-per-stream-duration = 0.000004000


gis-object-position-in-latlong-degree = false
gis-object-file-path = shapes/
gis-object-files = intersection.shp road.shp trafficlight.shp busstop.shp

#Component CBR
[1;CBR1] cbr-destination = 2
[2;CBR2] cbr-destination = 1
[1;CBR1] cbr-start-time = 10.000000000
[2;CBR2] cbr-start-time = 10.000000000
[1;CBR1] cbr-end-time = 110.000000000
[2;CBR2] cbr-end-time = 110.000000000
[1;CBR1] cbr-start-time-max-jitter = 1.000000000
[2;CBR2] cbr-start-time-max-jitter = 1.000000000
[1;CBR1] cbr-payload-size-bytes = 128
[2;CBR2] cbr-payload-size-bytes = 128
[1;CBR1] cbr-traffic-defined-by = Interval
[2;CBR2] cbr-traffic-defined-by = Interval
[1;CBR1] cbr-interval = 1.000000000
[2;CBR2] cbr-interval = 1.000000000
[1;CBR1] cbr-priority = 0
[2;CBR2] cbr-priority = 0
[1;CBR1] cbr-auto-port-mode = true
[2;CBR2] cbr-auto-port-mode = true
[1;CBR1] cbr-use-virtual-payload = false
[2;CBR2] cbr-use-virtual-payload = false

[1] mobility-model = TRACE-FILE
[1] mobility-trace-file = simulation.pos

statistics-configuration-file = simulation.statconfig
