#Instance general
#Component Simulation
seed = 123
mobility-seed = 123
simulation-time = 120.000000000
time-step-event-synchronization-step = 0.100000000
trace-output-mode = Text
trace-index-output = true
trace-output-file = simulation.trace
statistics-output-file = simulation.stat
statistics-output-for-no-data = true
allow-node-re-creation = false
progress-sim-time-output-interval-percents = 5.000000000
enable-unused-parameter-warnings = true

#Component GIS
gis-road-driving-side = Left
gis-los-break-down-cureved-road-into-straight-roads = true
gis-number-entrances-to-building = 0
gis-number-entrances-to-station = 0
gis-number-entrances-to-busstop = 0
gis-number-entrances-to-park = 0
gis-road-set-intersection-margin = false

#Component Antenna/Propagation
number-data-parallel-threads-for-propagation = 1
antenna-pattern-two-2d-to-3d-interpolation-algorithm-number = 1
antenna-patterns-are-in-legacy-format = false

#Component MultiAgent2
multiagent2-step-duration = 0.005000000
multiagent2-pedestrian-model-is-on = false
multiagent2-vehicle-model-is-on = true
multiagent2-vehiclefilename = vehicles.txt
multiagent2-connections-filename = connections.txt
multiagent2-right-hand-traffic-roads = false
multiagent2-forced-lane-change-stop-distance-per-lane-meters = 10.000000000
intelligent-driver-model-max-acceleration-meters-sec = 1.400000000
intelligent-driver-model-desired-braking-deacceleration-meters-sec = 2.000000000
intelligent-driver-model-min-gap-meters = 2.000000000
intelligent-driver-model-time-headway-secs = 1.500000000
intelligent-driver-model-search-distance-cutoff-meters = 200.000000000


[1-6] is-member-of = VehicleObjectType
#Instance general


#Instance general
#Component Common

#Component Position

#Component CommunicationObject

#Component SimulationObject
[1-6] trace-enabled-tags = Mobility
[1-6,100000001-100000008] trace-start-time = 0.000000000

#Component GisObject
[100000001-100000008] gisobject-disable-time = inf_time
[100000001-100000008] gisobject-enable-time = inf_time
[100000001-100000008] gisobject-elevation-reference-type = GroundLevel


gis-object-position-in-latlong-degree = false
gis-object-file-path = shapes/
gis-object-files = road.shp trafficlight.shp busstop.shp

statistics-configuration-file = simulation.statconfig
