#Instance general
#Component Simulation
seed = 123
mobility-seed = 123
simulation-time = 30.000000000
time-step-event-synchronization-step = 0.100000000
trace-output-mode = Text
trace-index-output = true
trace-output-file = simulation.trace
statistics-output-file = simulation.stat
statistics-output-for-no-data = true
allow-node-re-creation = false
network-terminate-sim-when-routing-fails = false
progress-sim-time-output-interval-percents = 5.000000000
enable-unused-parameter-warnings = true

#Component GIS
gis-road-driving-side = Left
gis-los-break-down-cureved-road-into-straight-roads = true
gis-number-entrances-to-building = 0
gis-number-entrances-to-station = 0
gis-number-entrances-to-busstop = 0
gis-number-entrances-to-park = 0
gis-road-set-intersection-margin = false

#Component Antenna/Propagation
number-data-parallel-threads-for-propagation = 1
antenna-pattern-two-2d-to-3d-interpolation-algorithm-number = 1
antenna-patterns-are-in-legacy-format = false

#Component Dot11
dot11-bit-error-rate-curve-file = dot11modes.ber
dot11-phy-use-short-guard-interval-and-shrink-ofdm-symbol-duration = false


[2] is-member-of = Dot11aObjectType
[3] is-member-of = Dot11nObjectType
[1,4] is-member-of = Dot11acObjectType
#Instance general

#Instance 5GHzBand
#Component Channel
[5GHzBand] channel-count = 8
[5GHzBand] channel-0-frequency-mhz = 5180.000000000
[5GHzBand] channel-0-bandwidth-mhz = 20.000000000
[5GHzBand] channel-1-frequency-mhz = 5200.000000000
[5GHzBand] channel-1-bandwidth-mhz = 20.000000000
[5GHzBand] channel-2-frequency-mhz = 5220.000000000
[5GHzBand] channel-2-bandwidth-mhz = 20.000000000
[5GHzBand] channel-3-frequency-mhz = 5240.000000000
[5GHzBand] channel-3-bandwidth-mhz = 20.000000000
[5GHzBand] channel-4-frequency-mhz = 5260.000000000
[5GHzBand] channel-4-bandwidth-mhz = 20.000000000
[5GHzBand] channel-5-frequency-mhz = 5280.000000000
[5GHzBand] channel-5-bandwidth-mhz = 20.000000000
[5GHzBand] channel-6-frequency-mhz = 5300.000000000
[5GHzBand] channel-6-bandwidth-mhz = 20.000000000
[5GHzBand] channel-7-frequency-mhz = 5320.000000000
[5GHzBand] channel-7-bandwidth-mhz = 20.000000000
[5GHzBand] propagation-enable-mask-calculated-channel-interference = false
[5GHzBand] propagation-model = TwoRayGround
[5GHzBand] enable-propagation-delay = true
[5GHzBand] max-signal-propagation-meters = 100000000.000000000
[5GHzBand] propagation-allow-multiple-interfaces-on-same-channel = false
[5GHzBand] fading-model = Off


#Instance dot11ac
#Component Antenna/Propagation (Interface)
[1,4;dot11ac] channel-instance-id = 5GHzBand
[1,4;dot11ac] antenna-model = Omnidirectional
[1,4;dot11ac] antenna-gain-dbi = 0.000000000
[1,4;dot11ac] antenna-height-meters = 1.500000000
[1,4;dot11ac] antenna-azimuth-degrees = 0.000000000
[1,4;dot11ac] antenna-elevation-degrees = 0.000000000
[1,4;dot11ac] antenna-offset-meters = 0.000000000
[1,4;dot11ac] antenna-offset-degrees = 0.000000000

#Component Routing

#Component Network (Interface)
[1,4;dot11ac] network-address = 90.1.0.0 + $n
[1,4;dot11ac] network-prefix-length-bits = 16
[1,4;dot11ac] network-subnet-is-multihop = false
[1,4;dot11ac] network-address-is-primary = false
[1,4;dot11ac] network-allow-routing-back-out-same-interface = true
[1,4;dot11ac] network-ignore-unregistered-protocol = false
[1,4;dot11ac] network-mtu-bytes = 1500
[1,4;dot11ac] mac-protocol = Dot11
[1,4;dot11ac] interface-output-queue-max-packets-per-subq = 1000
[1,4;dot11ac] interface-output-queue-max-bytes-per-subq = 1000000
[1,4;dot11ac] network-enable-dhcp-client = false
[1,4;dot11ac] network-enable-dhcp-server = false
[1,4;dot11ac] network-enable-ndp = false
[1,4;dot11ac] network-enable-arp = false

#Component Dot11Mac
[1;dot11ac] dot11-node-type = Access-Point
[4;dot11ac] dot11-node-type = Mobile-STA
[1;dot11ac] dot11-beacon-transmit-interval = 0.100000000
[4;dot11ac] dot11-channel-scan-interval = 0.500000000
[4;dot11ac] dot11-channel-scan-start-time-max-jitter = 0.500000000
[4;dot11ac] dot11-association-threshold-rssi-dbm = -76.000000000
[4;dot11ac] dot11-disassociation-threshold-rssi-dbm = -80.000000000
[4;dot11ac] dot11-associate-failure-timeout-interval = 1.000000000
[4;dot11ac] dot11-beacon-rssi-moving-average-coefficient = 0.500000000
[4;dot11ac] dot11-authentication-timeout-interval = 1.000000000
[1;dot11ac] dot11-access-point-auth-processing-delay = 0.010000000
[1,4;dot11ac] dot11-map-ip-multicast-addresses = false
[1,4;dot11ac] dot11-enable-high-throughput-mode = true
[1,4;dot11ac] dot11-force-use-of-high-throughput-frames = false
[1,4;dot11ac] dot11-bonded-channel-number-list = 0 1 2 3 4 5 6 7
[1,4;dot11ac] dot11-max-channel-bandwidth-mhz = 160
[1,4;dot11ac] dot11-adaptive-rate-control-type = Static
[1,4;dot11ac] dot11-modulation-and-coding = 256QAM_0.83
[1,4;dot11ac] dot11-modulation-and-coding-for-management-frames = BPSK_0.5
[1,4;dot11ac] dot11-modulation-and-coding-for-broadcast = BPSK_0.5
[1,4;dot11ac] dot11-ack-datarate-selection-type = SameAsData
[1,4;dot11ac] dot11-ack-datarate-match-num-spatial-streams = false
[1,4;dot11ac] dot11-rts-threshold-size-bytes = 2346
[1,4;dot11ac] dot11-short-frame-retry-limit = 7
[1,4;dot11ac] dot11-long-frame-retry-limit = 4
[1;dot11ac] dot11-ap-scheduling-algorithm = FIFO
[1,4;dot11ac] dot11-max-aggregate-mpdu-size-bytes = 65535
[1,4;dot11ac] dot11-max-num-aggregate-subframes = 64
[1,4;dot11ac] dot11-protect-aggregate-frames-with-single-acked-frame = true
[1,4;dot11ac] dot11-allow-frame-aggregation-with-txop-zero = false
[1,4;dot11ac] dot11-contention-window-min-slots = 15
[1,4;dot11ac] dot11-contention-window-max-slots = 1023
[1,4;dot11ac] dot11-disabled-to-jump-on-medium-without-backoff = false
[1,4;dot11ac] dot11-qos-type = EDCA
[1,4;dot11ac] dot11-edca-category-0-priority-list = 0
[1,4;dot11ac] dot11-edca-category-0-num-aifs-slots = 7
[1,4;dot11ac] dot11-edca-category-0-contention-window-min-slots = 15
[1,4;dot11ac] dot11-edca-category-0-contention-window-max-slots = 1023
[1,4;dot11ac] dot11-edca-category-0-frame-lifetime = inf_time
[1,4;dot11ac] dot11-edca-category-0-downlink-txop-duration = 0.010000000
[1,4;dot11ac] dot11-edca-category-0-max-non-fifo-aggregate-size-bytes = 0
[1,4;dot11ac] dot11-edca-category-1-priority-list = 1
[1,4;dot11ac] dot11-edca-category-1-num-aifs-slots = 3
[1,4;dot11ac] dot11-edca-category-1-contention-window-min-slots = 15
[1,4;dot11ac] dot11-edca-category-1-contention-window-max-slots = 1023
[1,4;dot11ac] dot11-edca-category-1-frame-lifetime = inf_time
[1,4;dot11ac] dot11-edca-category-1-downlink-txop-duration = 0.010000000
[1,4;dot11ac] dot11-edca-category-1-max-non-fifo-aggregate-size-bytes = 0
[1,4;dot11ac] dot11-edca-category-2-priority-list = 2
[1,4;dot11ac] dot11-edca-category-2-num-aifs-slots = 2
[1,4;dot11ac] dot11-edca-category-2-contention-window-min-slots = 7
[1,4;dot11ac] dot11-edca-category-2-contention-window-max-slots = 15
[1,4;dot11ac] dot11-edca-category-2-frame-lifetime = inf_time
[1,4;dot11ac] dot11-edca-category-2-downlink-txop-duration = 0.010000000
[1,4;dot11ac] dot11-edca-category-2-max-non-fifo-aggregate-size-bytes = 0
[1,4;dot11ac] dot11-edca-category-3-priority-list = 3
[1,4;dot11ac] dot11-edca-category-3-num-aifs-slots = 2
[1,4;dot11ac] dot11-edca-category-3-contention-window-min-slots = 3
[1,4;dot11ac] dot11-edca-category-3-contention-window-max-slots = 7
[1,4;dot11ac] dot11-edca-category-3-frame-lifetime = inf_time
[1,4;dot11ac] dot11-edca-category-3-downlink-txop-duration = 0.010000000
[1,4;dot11ac] dot11-edca-category-3-max-non-fifo-aggregate-size-bytes = 0

#Component Dot11Phy
[1,4;dot11ac] dot11-phy-protocol = IEEE802.11
[1,4;dot11ac] dot11-tx-power-specified-by = PhyLayer
[1,4;dot11ac] dot11-tx-power-dbm = 20.000000000
[1,4;dot11ac] dot11-radio-noise-figure-db = 10.000000000
[1,4;dot11ac] dot11-preamble-detection-power-threshold-dbm = -82.000000000
[1,4;dot11ac] dot11-energy-detection-power-threshold-dbm = -62.000000000
[1,4;dot11ac] dot11-signal-capture-ratio-threshold-db = 1000.000000000
[1,4;dot11ac] dot11-ofdm-symbol-duration = 0.000004000
[1,4;dot11ac] dot11-slot-time = 0.000009000
[1,4;dot11ac] dot11-sifs-time = 0.000016000
[1,4;dot11ac] dot11-rx-tx-turnaround-time = 0.000002000
[1,4;dot11ac] dot11-phy-rx-start-delay = 0.000025000
[1,4;dot11ac] dot11-preamble-length-duration = 0.000016000
[1,4;dot11ac] dot11-short-training-field-duration = 0.000008000
[1,4;dot11ac] dot11-plcp-header-length-duration = 0.000004000
[1,4;dot11ac] dot11-phy-high-throughput-header-additional-duration = 0.000012000
[1,4;dot11ac] dot11-phy-high-throughput-header-additional-per-stream-duration = 0.000004000


#Instance general
#Component Common

#Component Position

#Component CommunicationObject

#Component SimulationObject
[1-4] trace-enabled-tags = Mac Phy
[1-4] trace-start-time = 0.000000000

#Component Network (Node)
[1-4] network-hop-limit = 64
[1-4] network-loopback-delay = 0.000000001

#Component Transport

#Component Mobility
[1] mobility-model = Stationary
[2-4] mobility-model = Random-Waypoint
[1-4] mobility-granularity-meters = 1.000000000
[2-4] mobility-wp-pause-time = 0.000000000
[2-4] mobility-wp-min-speed-meter-per-sec = 1.000000000
[2-4] mobility-wp-max-speed-meter-per-sec = 1.000000000
[2-4] mobility-rwp-movable-area-is-rect = true
[2-4] mobility-rwp-movable-area-min-xy-max-xy-meters = -10,-10,10,10
[1-4] mobility-init-positions-file = simulation.pos
[1-4] mobility-need-to-add-ground-height = true


#Instance IperfUdp1

#Instance IperfUdp2

#Instance IperfUdp3

#Instance dot11a
#Component Antenna/Propagation (Interface)
[2;dot11a] channel-instance-id = 5GHzBand
[2;dot11a] antenna-model = Omnidirectional
[2;dot11a] antenna-gain-dbi = 0.000000000
[2;dot11a] antenna-height-meters = 1.500000000
[2;dot11a] antenna-azimuth-degrees = 0.000000000
[2;dot11a] antenna-elevation-degrees = 0.000000000
[2;dot11a] antenna-offset-meters = 0.000000000
[2;dot11a] antenna-offset-degrees = 0.000000000

#Component Routing

#Component Network (Interface)
[2;dot11a] network-address = 90.1.0.0 + $n
[2;dot11a] network-prefix-length-bits = 16
[2;dot11a] network-subnet-is-multihop = false
[2;dot11a] network-address-is-primary = false
[2;dot11a] network-allow-routing-back-out-same-interface = true
[2;dot11a] network-ignore-unregistered-protocol = false
[2;dot11a] network-mtu-bytes = 1500
[2;dot11a] mac-protocol = Dot11
[2;dot11a] interface-output-queue-max-packets-per-subq = 1000
[2;dot11a] interface-output-queue-max-bytes-per-subq = 1000000
[2;dot11a] network-enable-dhcp-client = false
[2;dot11a] network-enable-dhcp-server = false
[2;dot11a] network-enable-ndp = false
[2;dot11a] network-enable-arp = false

#Component Dot11Mac
[2;dot11a] dot11-node-type = Mobile-STA
[2;dot11a] dot11-channel-scan-interval = 0.500000000
[2;dot11a] dot11-channel-scan-start-time-max-jitter = 0.500000000
[2;dot11a] dot11-association-threshold-rssi-dbm = -76.000000000
[2;dot11a] dot11-disassociation-threshold-rssi-dbm = -80.000000000
[2;dot11a] dot11-associate-failure-timeout-interval = 1.000000000
[2;dot11a] dot11-beacon-rssi-moving-average-coefficient = 0.500000000
[2;dot11a] dot11-authentication-timeout-interval = 1.000000000
[2;dot11a] dot11-initial-channel-number = 0
[2;dot11a] dot11-map-ip-multicast-addresses = false
[2;dot11a] dot11-enable-high-throughput-mode = false
[2;dot11a] dot11-adaptive-rate-control-type = Static
[2;dot11a] dot11-modulation-and-coding = BPSK_0.5
[2;dot11a] dot11-modulation-and-coding-for-management-frames = BPSK_0.5
[2;dot11a] dot11-modulation-and-coding-for-broadcast = BPSK_0.5
[2;dot11a] dot11-ack-datarate-selection-type = SameAsData
[2;dot11a] dot11-ack-datarate-match-num-spatial-streams = false
[2;dot11a] dot11-rts-threshold-size-bytes = 2346
[2;dot11a] dot11-short-frame-retry-limit = 7
[2;dot11a] dot11-long-frame-retry-limit = 4
[2;dot11a] dot11-max-aggregate-mpdu-size-bytes = 0
[2;dot11a] dot11-max-num-aggregate-subframes = 64
[2;dot11a] dot11-protect-aggregate-frames-with-single-acked-frame = true
[2;dot11a] dot11-allow-frame-aggregation-with-txop-zero = false
[2;dot11a] dot11-contention-window-min-slots = 15
[2;dot11a] dot11-contention-window-max-slots = 1023
[2;dot11a] dot11-disabled-to-jump-on-medium-without-backoff = false
[2;dot11a] dot11-qos-type = EDCA
[2;dot11a] dot11-edca-category-0-priority-list = 0
[2;dot11a] dot11-edca-category-0-num-aifs-slots = 7
[2;dot11a] dot11-edca-category-0-contention-window-min-slots = 15
[2;dot11a] dot11-edca-category-0-contention-window-max-slots = 1023
[2;dot11a] dot11-edca-category-0-frame-lifetime = inf_time
[2;dot11a] dot11-edca-category-0-downlink-txop-duration = 0.000000000
[2;dot11a] dot11-edca-category-0-max-non-fifo-aggregate-size-bytes = 0
[2;dot11a] dot11-edca-category-1-priority-list = 1
[2;dot11a] dot11-edca-category-1-num-aifs-slots = 3
[2;dot11a] dot11-edca-category-1-contention-window-min-slots = 15
[2;dot11a] dot11-edca-category-1-contention-window-max-slots = 1023
[2;dot11a] dot11-edca-category-1-frame-lifetime = inf_time
[2;dot11a] dot11-edca-category-1-downlink-txop-duration = 0.000000000
[2;dot11a] dot11-edca-category-1-max-non-fifo-aggregate-size-bytes = 0
[2;dot11a] dot11-edca-category-2-priority-list = 2
[2;dot11a] dot11-edca-category-2-num-aifs-slots = 2
[2;dot11a] dot11-edca-category-2-contention-window-min-slots = 7
[2;dot11a] dot11-edca-category-2-contention-window-max-slots = 15
[2;dot11a] dot11-edca-category-2-frame-lifetime = inf_time
[2;dot11a] dot11-edca-category-2-downlink-txop-duration = 0.000000000
[2;dot11a] dot11-edca-category-2-max-non-fifo-aggregate-size-bytes = 0
[2;dot11a] dot11-edca-category-3-priority-list = 3
[2;dot11a] dot11-edca-category-3-num-aifs-slots = 2
[2;dot11a] dot11-edca-category-3-contention-window-min-slots = 3
[2;dot11a] dot11-edca-category-3-contention-window-max-slots = 7
[2;dot11a] dot11-edca-category-3-frame-lifetime = inf_time
[2;dot11a] dot11-edca-category-3-downlink-txop-duration = 0.000000000
[2;dot11a] dot11-edca-category-3-max-non-fifo-aggregate-size-bytes = 0

#Component Dot11Phy
[2;dot11a] dot11-phy-protocol = IEEE802.11
[2;dot11a] dot11-tx-power-specified-by = PhyLayer
[2;dot11a] dot11-tx-power-dbm = 20.000000000
[2;dot11a] dot11-radio-noise-figure-db = 10.000000000
[2;dot11a] dot11-preamble-detection-power-threshold-dbm = -82.000000000
[2;dot11a] dot11-energy-detection-power-threshold-dbm = -62.000000000
[2;dot11a] dot11-signal-capture-ratio-threshold-db = 1000.000000000
[2;dot11a] dot11-ofdm-symbol-duration = 0.000004000
[2;dot11a] dot11-slot-time = 0.000009000
[2;dot11a] dot11-sifs-time = 0.000016000
[2;dot11a] dot11-rx-tx-turnaround-time = 0.000002000
[2;dot11a] dot11-phy-rx-start-delay = 0.000025000
[2;dot11a] dot11-preamble-length-duration = 0.000016000
[2;dot11a] dot11-short-training-field-duration = 0.000008000
[2;dot11a] dot11-plcp-header-length-duration = 0.000004000
[2;dot11a] dot11-phy-high-throughput-header-additional-duration = 0.000012000
[2;dot11a] dot11-phy-high-throughput-header-additional-per-stream-duration = 0.000004000


#Instance dot11n
#Component Antenna/Propagation (Interface)
[3;dot11n] channel-instance-id = 5GHzBand
[3;dot11n] antenna-model = Omnidirectional
[3;dot11n] antenna-gain-dbi = 0.000000000
[3;dot11n] antenna-height-meters = 1.500000000
[3;dot11n] antenna-azimuth-degrees = 0.000000000
[3;dot11n] antenna-elevation-degrees = 0.000000000
[3;dot11n] antenna-offset-meters = 0.000000000
[3;dot11n] antenna-offset-degrees = 0.000000000

#Component Routing

#Component Network (Interface)
[3;dot11n] network-address = 90.1.0.0 + $n
[3;dot11n] network-prefix-length-bits = 16
[3;dot11n] network-subnet-is-multihop = false
[3;dot11n] network-address-is-primary = false
[3;dot11n] network-allow-routing-back-out-same-interface = true
[3;dot11n] network-ignore-unregistered-protocol = false
[3;dot11n] network-mtu-bytes = 1500
[3;dot11n] mac-protocol = Dot11
[3;dot11n] interface-output-queue-max-packets-per-subq = 1000
[3;dot11n] interface-output-queue-max-bytes-per-subq = 1000000
[3;dot11n] network-enable-dhcp-client = false
[3;dot11n] network-enable-dhcp-server = false
[3;dot11n] network-enable-ndp = false
[3;dot11n] network-enable-arp = false

#Component Dot11Mac
[3;dot11n] dot11-node-type = Mobile-STA
[3;dot11n] dot11-channel-scan-interval = 0.500000000
[3;dot11n] dot11-channel-scan-start-time-max-jitter = 0.500000000
[3;dot11n] dot11-association-threshold-rssi-dbm = -76.000000000
[3;dot11n] dot11-disassociation-threshold-rssi-dbm = -80.000000000
[3;dot11n] dot11-associate-failure-timeout-interval = 1.000000000
[3;dot11n] dot11-beacon-rssi-moving-average-coefficient = 0.500000000
[3;dot11n] dot11-authentication-timeout-interval = 1.000000000
[3;dot11n] dot11-map-ip-multicast-addresses = false
[3;dot11n] dot11-enable-high-throughput-mode = true
[3;dot11n] dot11-force-use-of-high-throughput-frames = false
[3;dot11n] dot11-bonded-channel-number-list = 0 1
[3;dot11n] dot11-max-channel-bandwidth-mhz = 40
[3;dot11n] dot11-adaptive-rate-control-type = Static
[3;dot11n] dot11-modulation-and-coding = 64QAM_0.83
[3;dot11n] dot11-modulation-and-coding-for-management-frames = BPSK_0.5
[3;dot11n] dot11-modulation-and-coding-for-broadcast = BPSK_0.5
[3;dot11n] dot11-ack-datarate-selection-type = SameAsData
[3;dot11n] dot11-ack-datarate-match-num-spatial-streams = false
[3;dot11n] dot11-rts-threshold-size-bytes = 2346
[3;dot11n] dot11-short-frame-retry-limit = 7
[3;dot11n] dot11-long-frame-retry-limit = 4
[3;dot11n] dot11-max-aggregate-mpdu-size-bytes = 65535
[3;dot11n] dot11-max-num-aggregate-subframes = 64
[3;dot11n] dot11-protect-aggregate-frames-with-single-acked-frame = true
[3;dot11n] dot11-allow-frame-aggregation-with-txop-zero = false
[3;dot11n] dot11-contention-window-min-slots = 15
[3;dot11n] dot11-contention-window-max-slots = 1023
[3;dot11n] dot11-disabled-to-jump-on-medium-without-backoff = false
[3;dot11n] dot11-qos-type = EDCA
[3;dot11n] dot11-edca-category-0-priority-list = 0
[3;dot11n] dot11-edca-category-0-num-aifs-slots = 7
[3;dot11n] dot11-edca-category-0-contention-window-min-slots = 15
[3;dot11n] dot11-edca-category-0-contention-window-max-slots = 1023
[3;dot11n] dot11-edca-category-0-frame-lifetime = inf_time
[3;dot11n] dot11-edca-category-0-downlink-txop-duration = 0.010000000
[3;dot11n] dot11-edca-category-0-max-non-fifo-aggregate-size-bytes = 0
[3;dot11n] dot11-edca-category-1-priority-list = 1
[3;dot11n] dot11-edca-category-1-num-aifs-slots = 3
[3;dot11n] dot11-edca-category-1-contention-window-min-slots = 15
[3;dot11n] dot11-edca-category-1-contention-window-max-slots = 1023
[3;dot11n] dot11-edca-category-1-frame-lifetime = inf_time
[3;dot11n] dot11-edca-category-1-downlink-txop-duration = 0.010000000
[3;dot11n] dot11-edca-category-1-max-non-fifo-aggregate-size-bytes = 0
[3;dot11n] dot11-edca-category-2-priority-list = 2
[3;dot11n] dot11-edca-category-2-num-aifs-slots = 2
[3;dot11n] dot11-edca-category-2-contention-window-min-slots = 7
[3;dot11n] dot11-edca-category-2-contention-window-max-slots = 15
[3;dot11n] dot11-edca-category-2-frame-lifetime = inf_time
[3;dot11n] dot11-edca-category-2-downlink-txop-duration = 0.010000000
[3;dot11n] dot11-edca-category-2-max-non-fifo-aggregate-size-bytes = 0
[3;dot11n] dot11-edca-category-3-priority-list = 3
[3;dot11n] dot11-edca-category-3-num-aifs-slots = 2
[3;dot11n] dot11-edca-category-3-contention-window-min-slots = 3
[3;dot11n] dot11-edca-category-3-contention-window-max-slots = 7
[3;dot11n] dot11-edca-category-3-frame-lifetime = inf_time
[3;dot11n] dot11-edca-category-3-downlink-txop-duration = 0.010000000
[3;dot11n] dot11-edca-category-3-max-non-fifo-aggregate-size-bytes = 0

#Component Dot11Phy
[3;dot11n] dot11-phy-protocol = IEEE802.11
[3;dot11n] dot11-tx-power-specified-by = PhyLayer
[3;dot11n] dot11-tx-power-dbm = 20.000000000
[3;dot11n] dot11-radio-noise-figure-db = 10.000000000
[3;dot11n] dot11-preamble-detection-power-threshold-dbm = -82.000000000
[3;dot11n] dot11-energy-detection-power-threshold-dbm = -62.000000000
[3;dot11n] dot11-signal-capture-ratio-threshold-db = 1000.000000000
[3;dot11n] dot11-ofdm-symbol-duration = 0.000004000
[3;dot11n] dot11-slot-time = 0.000009000
[3;dot11n] dot11-sifs-time = 0.000016000
[3;dot11n] dot11-rx-tx-turnaround-time = 0.000002000
[3;dot11n] dot11-phy-rx-start-delay = 0.000025000
[3;dot11n] dot11-preamble-length-duration = 0.000016000
[3;dot11n] dot11-short-training-field-duration = 0.000008000
[3;dot11n] dot11-plcp-header-length-duration = 0.000004000
[3;dot11n] dot11-phy-high-throughput-header-additional-duration = 0.000012000
[3;dot11n] dot11-phy-high-throughput-header-additional-per-stream-duration = 0.000004000


gis-object-position-in-latlong-degree = false

#Component IperfUdp
[1;IperfUdp2] iperf-udp-destination = 3
[1;IperfUdp3] iperf-udp-destination = 4
[1;IperfUdp1] iperf-udp-destination = 2
[1;IperfUdp3] iperf-udp-start-time = 5.000000000
[1;IperfUdp1] iperf-udp-start-time = 15.000000000
[1;IperfUdp2] iperf-udp-start-time = 10.000000000
[1;IperfUdp3] iperf-udp-time-mode = true
[1;IperfUdp2] iperf-udp-time-mode = true
[1;IperfUdp1] iperf-udp-time-mode = true
[1;IperfUdp3] iperf-udp-total-time = 20.000000000
[1;IperfUdp2] iperf-udp-total-time = 15.000000000
[1;IperfUdp1] iperf-udp-total-time = 10.000000000
[1;IperfUdp3] iperf-udp-payload-size-bytes = 1470
[1;IperfUdp2] iperf-udp-payload-size-bytes = 1470
[1;IperfUdp1] iperf-udp-payload-size-bytes = 1470
[1;IperfUdp3] iperf-udp-rate-bps = 1000000000
[1;IperfUdp2] iperf-udp-rate-bps = 1000000000
[1;IperfUdp1] iperf-udp-rate-bps = 1000000000
[1;IperfUdp3] iperf-udp-use-system-time = false
[1;IperfUdp2] iperf-udp-use-system-time = false
[1;IperfUdp1] iperf-udp-use-system-time = false
[1;IperfUdp3] iperf-udp-priority = 0
[1;IperfUdp2] iperf-udp-priority = 0
[1;IperfUdp1] iperf-udp-priority = 0
[1;IperfUdp3] iperf-udp-auto-address-mode = true
[1;IperfUdp2] iperf-udp-auto-address-mode = true
[1;IperfUdp1] iperf-udp-auto-address-mode = true
[1;IperfUdp3] iperf-udp-auto-port-mode = true
[1;IperfUdp2] iperf-udp-auto-port-mode = true
[1;IperfUdp1] iperf-udp-auto-port-mode = true
[1;IperfUdp3] iperf-udp-use-virtual-payload = true
[1;IperfUdp2] iperf-udp-use-virtual-payload = true
[1;IperfUdp1] iperf-udp-use-virtual-payload = true


statistics-configuration-file = simulation.statconfig
