#Instance general
#Component Simulation
seed = 123
mobility-seed = 123
simulation-time = 120.000000000
time-step-event-synchronization-step = 0.100000000
trace-output-mode = Text
trace-index-output = true
trace-output-file = simulation.trace
statistics-output-file = simulation.stat
statistics-output-for-no-data = true
allow-node-re-creation = false
network-terminate-sim-when-routing-fails = false
progress-sim-time-output-interval-percents = 5.000000000
enable-unused-parameter-warnings = true

#Component GIS
gis-road-driving-side = Left
gis-los-break-down-cureved-road-into-straight-roads = true
gis-number-entrances-to-building = 0
gis-number-entrances-to-station = 0
gis-number-entrances-to-busstop = 0
gis-number-entrances-to-park = 0
gis-road-set-intersection-margin = false

#Component Antenna/Propagation
number-data-parallel-threads-for-propagation = 1
antenna-pattern-two-2d-to-3d-interpolation-algorithm-number = 1
antenna-patterns-are-in-legacy-format = false

#Component Dot11
dot11-bit-error-rate-curve-file = dot11modes.ber
dot11-phy-use-short-guard-interval-and-shrink-ofdm-symbol-duration = false


[101000001-101000036] is-member-of = IntersectionObjectType
[100000001-100000060] is-member-of = RoadObjectType
[102000001-102000025] is-member-of = BuildingObjectType
[1-10] is-member-of = Dot11gObjectType
#Instance general

#Instance 2.4GHzBand
#Component Channel
[2.4GHzBand] channel-frequency-mhz = 2400.000000000
[2.4GHzBand] channel-bandwidth-mhz = 20.000000000
[2.4GHzBand] propagation-enable-mask-calculated-channel-interference = false
[2.4GHzBand] propagation-model = ITU-R_P.1411
[2.4GHzBand] p1411-los-calculation-policy = Median
[2.4GHzBand] p1411-max-diffraction-count = 1
[2.4GHzBand] p1411-los-angle-degrees-between-roads = 1.000000000
[2.4GHzBand] p1411-nlos-max-distance-meters = 100000.000000000
[2.4GHzBand] p1411-enable-building-based-los-calculation = false
[2.4GHzBand] p1411-nlos1-calculation-policy = Urban
[2.4GHzBand] p1411-nlos2-calculation-policy = Urban
[2.4GHzBand] p1411-nlos2-loss-direction = Directional
[2.4GHzBand] p1411-nlos2-use-policy = Default
[2.4GHzBand] p1411-nlos2-extension = No
[2.4GHzBand] p1411-nlos2-use-larger-loss-at-nlos-bound = false
[2.4GHzBand] p1411-nlos800to2000-calculation-policy = Lower
[2.4GHzBand] p1411-enable-shf-los-calculation = true
[2.4GHzBand] p1411-shf-effective-road-height-meters = 0.000000000
[2.4GHzBand] p1411-shf-short-distance-meters = 20.000000000
[2.4GHzBand] p1411-enable-propagation-between-terminals-located-below-rooftop-height-at-uhf = false
[2.4GHzBand] p1411-building-height-differ-threshold-meters = 1.000000000
[2.4GHzBand] p1411-well-below-rooftop-height-meters = 3.000000000
[2.4GHzBand] enable-propagation-delay = true
[2.4GHzBand] max-signal-propagation-meters = 100000000.000000000
[2.4GHzBand] propagation-allow-multiple-interfaces-on-same-channel = false
[2.4GHzBand] fading-model = Off


#Instance general
#Component Common

#Component Position

#Component CommunicationObject

#Component SimulationObject
[1-10] trace-enabled-tags = Application
[1-10,100000001-100000060,101000001-101000036,102000001-102000025] trace-start-time = 0.000000000

#Component GisObject
[100000001-100000060,101000001-101000036,102000001-102000025] gisobject-disable-time = inf_time
[100000001-100000060,101000001-101000036,102000001-102000025] gisobject-enable-time = inf_time
[100000001-100000060,101000001-101000036,102000001-102000025] gisobject-elevation-reference-type = GroundLevel

#Component Building

#Component Road

#Component PointObject

#Component Intersection

#Component Network (Node)
[1-10] network-hop-limit = 64
[1-10] network-loopback-delay = 0.000000001

#Component Transport

#Component Mobility
[1-2] mobility-model = Stationary
[3-10] mobility-model = Gis-Based-Random-Waypoint
[1-10] mobility-granularity-meters = 1.000000000
[3-10] mobility-wp-pause-time = 0.000000000
[3-10] mobility-wp-min-speed-meter-per-sec = 15.000000000
[3-10] mobility-wp-max-speed-meter-per-sec = 20.000000000
[3-10] mobility-gis-ground-object-type = Road
[1-10] mobility-init-positions-file = simulation.pos
[3-10] mobility-lane-offset-meters = 4.000000000
[3-10] mobility-route-search-based-algorithm = false
[1-2] mobility-need-to-add-ground-height = true

#Component Bundle Protocol
[1-10] bundle-max-storage-size-bytes = 10000000
[1-10] bundle-transport-mode = TCP
[1-10] bundle-routing-algorithm = Epidemic
[1-10] bundle-enable-delivery-ack = false
[1-10] bundle-hello-interval = 1.000000000
[1-10] bundle-hello-max-jitter = 1.000000000
[1-10] bundle-request-resend-interval = 2.000000000
[1-10] bundle-control-packet-max-jitter = 0.000000000
[1-10] bundle-data-packet-priority = 0
[1-10] bundle-control-packet-priority = 0
[1-10] bundle-max-control-packet-size-bytes = 1472
[1-10] bundle-use-virtual-payload = false


#Instance BundleMessage1

#Instance dot11g
#Component Antenna/Propagation (Interface)
[1-10;dot11g] channel-instance-id = 2.4GHzBand
[1-10;dot11g] antenna-model = Omnidirectional
[1-10;dot11g] antenna-gain-dbi = 0.000000000
[1-10;dot11g] antenna-height-meters = 1.500000000
[1-10;dot11g] antenna-azimuth-degrees = 0.000000000
[1-10;dot11g] antenna-elevation-degrees = 0.000000000
[1-10;dot11g] antenna-offset-meters = 0.000000000
[1-10;dot11g] antenna-offset-degrees = 0.000000000

#Component Routing

#Component Network (Interface)
[1-10;dot11g] network-address = 90.2.0.0 + $n
[1-10;dot11g] network-prefix-length-bits = 16
[1-10;dot11g] network-subnet-is-multihop = false
[1-10;dot11g] network-address-is-primary = false
[1-10;dot11g] network-allow-routing-back-out-same-interface = true
[1-10;dot11g] network-ignore-unregistered-protocol = false
[1-10;dot11g] network-mtu-bytes = 1500
[1-10;dot11g] mac-protocol = Dot11
[1-10;dot11g] interface-output-queue-max-packets-per-subq = 1000
[1-10;dot11g] interface-output-queue-max-bytes-per-subq = 1000000
[1-10;dot11g] network-enable-dhcp-client = false
[1-10;dot11g] network-enable-dhcp-server = false
[1-10;dot11g] network-enable-ndp = false
[1-10;dot11g] network-enable-arp = false

#Component Dot11Mac
[1-10;dot11g] dot11-node-type = Ad-hoc
[1-10;dot11g] dot11-initial-channel-number = 0
[1-10;dot11g] dot11-map-ip-multicast-addresses = false
[1-10;dot11g] dot11-enable-high-throughput-mode = false
[1-10;dot11g] dot11-adaptive-rate-control-type = Static
[1-10;dot11g] dot11-modulation-and-coding = BPSK_0.5
[1-10;dot11g] dot11-modulation-and-coding-for-management-frames = BPSK_0.5
[1-10;dot11g] dot11-modulation-and-coding-for-broadcast = BPSK_0.5
[1-10;dot11g] dot11-ack-datarate-selection-type = SameAsData
[1-10;dot11g] dot11-ack-datarate-match-num-spatial-streams = false
[1-10;dot11g] dot11-rts-threshold-size-bytes = 2346
[1-10;dot11g] dot11-short-frame-retry-limit = 7
[1-10;dot11g] dot11-long-frame-retry-limit = 4
[1-10;dot11g] dot11-max-aggregate-mpdu-size-bytes = 0
[1-10;dot11g] dot11-max-num-aggregate-subframes = 64
[1-10;dot11g] dot11-protect-aggregate-frames-with-single-acked-frame = true
[1-10;dot11g] dot11-allow-frame-aggregation-with-txop-zero = false
[1-10;dot11g] dot11-contention-window-min-slots = 15
[1-10;dot11g] dot11-contention-window-max-slots = 1023
[1-10;dot11g] dot11-disabled-to-jump-on-medium-without-backoff = false
[1-10;dot11g] dot11-qos-type = EDCA
[1-10;dot11g] dot11-edca-category-0-priority-list = 0
[1-10;dot11g] dot11-edca-category-0-num-aifs-slots = 7
[1-10;dot11g] dot11-edca-category-0-contention-window-min-slots = 15
[1-10;dot11g] dot11-edca-category-0-contention-window-max-slots = 1023
[1-10;dot11g] dot11-edca-category-0-frame-lifetime = inf_time
[1-10;dot11g] dot11-edca-category-0-downlink-txop-duration = 0.000000000
[1-10;dot11g] dot11-edca-category-0-max-non-fifo-aggregate-size-bytes = 0
[1-10;dot11g] dot11-edca-category-1-priority-list = 1
[1-10;dot11g] dot11-edca-category-1-num-aifs-slots = 3
[1-10;dot11g] dot11-edca-category-1-contention-window-min-slots = 15
[1-10;dot11g] dot11-edca-category-1-contention-window-max-slots = 1023
[1-10;dot11g] dot11-edca-category-1-frame-lifetime = inf_time
[1-10;dot11g] dot11-edca-category-1-downlink-txop-duration = 0.000000000
[1-10;dot11g] dot11-edca-category-1-max-non-fifo-aggregate-size-bytes = 0
[1-10;dot11g] dot11-edca-category-2-priority-list = 2
[1-10;dot11g] dot11-edca-category-2-num-aifs-slots = 2
[1-10;dot11g] dot11-edca-category-2-contention-window-min-slots = 7
[1-10;dot11g] dot11-edca-category-2-contention-window-max-slots = 15
[1-10;dot11g] dot11-edca-category-2-frame-lifetime = inf_time
[1-10;dot11g] dot11-edca-category-2-downlink-txop-duration = 0.000000000
[1-10;dot11g] dot11-edca-category-2-max-non-fifo-aggregate-size-bytes = 0
[1-10;dot11g] dot11-edca-category-3-priority-list = 3
[1-10;dot11g] dot11-edca-category-3-num-aifs-slots = 2
[1-10;dot11g] dot11-edca-category-3-contention-window-min-slots = 3
[1-10;dot11g] dot11-edca-category-3-contention-window-max-slots = 7
[1-10;dot11g] dot11-edca-category-3-frame-lifetime = inf_time
[1-10;dot11g] dot11-edca-category-3-downlink-txop-duration = 0.000000000
[1-10;dot11g] dot11-edca-category-3-max-non-fifo-aggregate-size-bytes = 0

#Component Dot11Phy
[1-10;dot11g] dot11-phy-protocol = IEEE802.11
[1-10;dot11g] dot11-tx-power-specified-by = PhyLayer
[1-10;dot11g] dot11-tx-power-dbm = 20.000000000
[1-10;dot11g] dot11-radio-noise-figure-db = 10.000000000
[1-10;dot11g] dot11-preamble-detection-power-threshold-dbm = -82.000000000
[1-10;dot11g] dot11-energy-detection-power-threshold-dbm = -62.000000000
[1-10;dot11g] dot11-signal-capture-ratio-threshold-db = 1000.000000000
[1-10;dot11g] dot11-ofdm-symbol-duration = 0.000004000
[1-10;dot11g] dot11-slot-time = 0.000009000
[1-10;dot11g] dot11-sifs-time = 0.000010000
[1-10;dot11g] dot11-rx-tx-turnaround-time = 0.000002000
[1-10;dot11g] dot11-phy-rx-start-delay = 0.000025000
[1-10;dot11g] dot11-preamble-length-duration = 0.000016000
[1-10;dot11g] dot11-short-training-field-duration = 0.000008000
[1-10;dot11g] dot11-plcp-header-length-duration = 0.000004000
[1-10;dot11g] dot11-phy-high-throughput-header-additional-duration = 0.000012000
[1-10;dot11g] dot11-phy-high-throughput-header-additional-per-stream-duration = 0.000004000


gis-object-position-in-latlong-degree = false
gis-object-file-path = shapes/
gis-object-files = intersection.shp road.shp trafficlight.shp busstop.shp building.shp

#Component BundleMessage
[1;BundleMessage1] bundle-message-destination = 2
[1;BundleMessage1] bundle-message-start-time = 10.000000000
[1;BundleMessage1] bundle-message-end-time = 110.000000000
[1;BundleMessage1] bundle-message-max-jitter = 10.000000000
[1;BundleMessage1] bundle-message-size-bytes = 500
[1;BundleMessage1] bundle-message-send-interval = 10.000000000
[1;BundleMessage1] bundle-message-lifetime = inf_time


statistics-configuration-file = simulation.statconfig
