#Instance general
#Component Simulation
seed = 123
mobility-seed = 123
simulation-time = 120.000000000
time-step-event-synchronization-step = 0.100000000
trace-output-mode = Text
trace-index-output = true
trace-output-file = simulation.trace
statistics-output-file = simulation.stat
statistics-output-for-no-data = true
allow-node-re-creation = false
network-terminate-sim-when-routing-fails = false
progress-sim-time-output-interval-percents = 5.000000000
enable-unused-parameter-warnings = true

#Component GIS
gis-road-driving-side = Left
gis-los-break-down-cureved-road-into-straight-roads = true
gis-number-entrances-to-building = 0
gis-number-entrances-to-station = 0
gis-number-entrances-to-busstop = 0
gis-number-entrances-to-park = 0
gis-road-set-intersection-margin = false

#Component Antenna/Propagation
number-data-parallel-threads-for-propagation = 1
antenna-pattern-two-2d-to-3d-interpolation-algorithm-number = 1
antenna-patterns-are-in-legacy-format = false

#Component Dot11
dot11-bit-error-rate-curve-file = dot11modes.ber
dot11-phy-use-short-guard-interval-and-shrink-ofdm-symbol-duration = false


[1-21] is-member-of = Dot11gObjectType
#Instance general

#Instance 2.4GHzBand
#Component Channel
[2.4GHzBand] channel-frequency-mhz = 2400.000000000
[2.4GHzBand] channel-bandwidth-mhz = 20.000000000
[2.4GHzBand] propagation-enable-mask-calculated-channel-interference = false
[2.4GHzBand] propagation-model = TwoRayGround
[2.4GHzBand] enable-propagation-delay = true
[2.4GHzBand] max-signal-propagation-meters = 100000000.000000000
[2.4GHzBand] propagation-allow-multiple-interfaces-on-same-channel = false
[2.4GHzBand] fading-model = Off


#Instance general
#Component Common

#Component Position

#Component CommunicationObject

#Component SimulationObject
[1-21] trace-enabled-tags = Application Mac Phy
[1-21] trace-start-time = 0.000000000

#Component Network (Node)
[1-21] network-hop-limit = 64
[1-21] network-loopback-delay = 0.000000001

#Component Transport

#Component Mobility
[1-2] mobility-model = Stationary
[3-21] mobility-model = Random-Waypoint
[1-21] mobility-granularity-meters = 1.000000000
[3-21] mobility-wp-pause-time = 0.000000000
[3-21] mobility-wp-min-speed-meter-per-sec = 15.000000000
[3-21] mobility-wp-max-speed-meter-per-sec = 20.000000000
[3-21] mobility-rwp-movable-area-is-rect = true
[3-21] mobility-rwp-movable-area-min-xy-max-xy-meters = -750,-500,750,500
[1-21] mobility-init-positions-file = simulation.pos
[1-21] mobility-need-to-add-ground-height = true


#Instance CBR1

#Instance CBR2

#Instance dot11g
#Component Antenna/Propagation (Interface)
[1-21;dot11g] channel-instance-id = 2.4GHzBand
[1-21;dot11g] antenna-model = Omnidirectional
[1-21;dot11g] antenna-gain-dbi = 0.000000000
[1-21;dot11g] antenna-height-meters = 1.500000000
[1-21;dot11g] antenna-azimuth-degrees = 0.000000000
[1-21;dot11g] antenna-elevation-degrees = 0.000000000
[1-21;dot11g] antenna-offset-meters = 0.000000000
[1-21;dot11g] antenna-offset-degrees = 0.000000000

#Component Routing
[1-21;dot11g] network-routing-protocol-name = NU_OLSRv2
[1-21;dot11g] olsrv2-hello-interval = 2.000000000
[1-21;dot11g] olsrv2-hello-max-jitter = 0.500000000
[1-21;dot11g] olsrv2-hello-start-time = 2.000000000
[1-21;dot11g] olsrv2-link-quality-type = No
[1-21;dot11g] olsrv2-lq-hyst-accept = 0.800000000
[1-21;dot11g] olsrv2-lq-hyst-reject = 0.300000000
[1-21;dot11g] olsrv2-lq-initial-quality = 0.500000000
[1-21;dot11g] olsrv2-lq-initial-pending = false
[1-21;dot11g] olsrv2-lq-hyst-scale = 0.500000000
[1-21;dot11g] olsrv2-lq-loss-detect-scale = 1.500000000
[1-21;dot11g] olsrv2-link-metric-type = None
[1-21;dot11g] olsrv2-lm-etx-memory-length = 32
[1-21;dot11g] olsrv2-lm-etx-metric-interval = 1.000000000
[1-21;dot11g] olsrv2-tc-interval = 5.000000000
[1-21;dot11g] olsrv2-tc-max-jitter = 0.500000000
[1-21;dot11g] olsrv2-tc-start-time = 5.000000000
[1-21;dot11g] olsrv2-tc-hop-limit = 10
[1-21;dot11g] olsrv2-willingness = 3
[1-21;dot11g] olsrv2-broadcast-priority = 0

#Component Network (Interface)
[1-21;dot11g] network-address = 90.2.0.0 + $n
[1-21;dot11g] network-prefix-length-bits = 16
[1-21;dot11g] network-subnet-is-multihop = false
[1-21;dot11g] network-address-is-primary = false
[1-21;dot11g] network-allow-routing-back-out-same-interface = true
[1-21;dot11g] network-ignore-unregistered-protocol = false
[1-21;dot11g] network-mtu-bytes = 1500
[1-21;dot11g] mac-protocol = Dot11
[1-21;dot11g] interface-output-queue-max-packets-per-subq = 1000
[1-21;dot11g] interface-output-queue-max-bytes-per-subq = 1000000
[1-21;dot11g] network-enable-dhcp-client = false
[1-21;dot11g] network-enable-dhcp-server = false
[1-21;dot11g] network-enable-ndp = false
[1-21;dot11g] network-enable-arp = false

#Component Dot11Mac
[1-21;dot11g] dot11-node-type = Ad-hoc
[1-21;dot11g] dot11-initial-channel-number = 0
[1-21;dot11g] dot11-map-ip-multicast-addresses = false
[1-21;dot11g] dot11-enable-high-throughput-mode = false
[1-21;dot11g] dot11-adaptive-rate-control-type = Static
[1-21;dot11g] dot11-modulation-and-coding = BPSK_0.5
[1-21;dot11g] dot11-modulation-and-coding-for-management-frames = BPSK_0.5
[1-21;dot11g] dot11-modulation-and-coding-for-broadcast = BPSK_0.5
[1-21;dot11g] dot11-ack-datarate-selection-type = SameAsData
[1-21;dot11g] dot11-ack-datarate-match-num-spatial-streams = false
[1-21;dot11g] dot11-rts-threshold-size-bytes = 2346
[1-21;dot11g] dot11-short-frame-retry-limit = 7
[1-21;dot11g] dot11-long-frame-retry-limit = 4
[1-21;dot11g] dot11-max-aggregate-mpdu-size-bytes = 0
[1-21;dot11g] dot11-max-num-aggregate-subframes = 64
[1-21;dot11g] dot11-protect-aggregate-frames-with-single-acked-frame = true
[1-21;dot11g] dot11-allow-frame-aggregation-with-txop-zero = false
[1-21;dot11g] dot11-contention-window-min-slots = 15
[1-21;dot11g] dot11-contention-window-max-slots = 1023
[1-21;dot11g] dot11-disabled-to-jump-on-medium-without-backoff = false
[1-21;dot11g] dot11-qos-type = EDCA
[1-21;dot11g] dot11-edca-category-0-priority-list = 0
[1-21;dot11g] dot11-edca-category-0-num-aifs-slots = 7
[1-21;dot11g] dot11-edca-category-0-contention-window-min-slots = 15
[1-21;dot11g] dot11-edca-category-0-contention-window-max-slots = 1023
[1-21;dot11g] dot11-edca-category-0-frame-lifetime = inf_time
[1-21;dot11g] dot11-edca-category-0-downlink-txop-duration = 0.000000000
[1-21;dot11g] dot11-edca-category-0-max-non-fifo-aggregate-size-bytes = 0
[1-21;dot11g] dot11-edca-category-1-priority-list = 1
[1-21;dot11g] dot11-edca-category-1-num-aifs-slots = 3
[1-21;dot11g] dot11-edca-category-1-contention-window-min-slots = 15
[1-21;dot11g] dot11-edca-category-1-contention-window-max-slots = 1023
[1-21;dot11g] dot11-edca-category-1-frame-lifetime = inf_time
[1-21;dot11g] dot11-edca-category-1-downlink-txop-duration = 0.000000000
[1-21;dot11g] dot11-edca-category-1-max-non-fifo-aggregate-size-bytes = 0
[1-21;dot11g] dot11-edca-category-2-priority-list = 2
[1-21;dot11g] dot11-edca-category-2-num-aifs-slots = 2
[1-21;dot11g] dot11-edca-category-2-contention-window-min-slots = 7
[1-21;dot11g] dot11-edca-category-2-contention-window-max-slots = 15
[1-21;dot11g] dot11-edca-category-2-frame-lifetime = inf_time
[1-21;dot11g] dot11-edca-category-2-downlink-txop-duration = 0.000000000
[1-21;dot11g] dot11-edca-category-2-max-non-fifo-aggregate-size-bytes = 0
[1-21;dot11g] dot11-edca-category-3-priority-list = 3
[1-21;dot11g] dot11-edca-category-3-num-aifs-slots = 2
[1-21;dot11g] dot11-edca-category-3-contention-window-min-slots = 3
[1-21;dot11g] dot11-edca-category-3-contention-window-max-slots = 7
[1-21;dot11g] dot11-edca-category-3-frame-lifetime = inf_time
[1-21;dot11g] dot11-edca-category-3-downlink-txop-duration = 0.000000000
[1-21;dot11g] dot11-edca-category-3-max-non-fifo-aggregate-size-bytes = 0

#Component Dot11Phy
[1-21;dot11g] dot11-phy-protocol = IEEE802.11
[1-21;dot11g] dot11-tx-power-specified-by = PhyLayer
[1-21;dot11g] dot11-tx-power-dbm = 20.000000000
[1-21;dot11g] dot11-radio-noise-figure-db = 10.000000000
[1-21;dot11g] dot11-preamble-detection-power-threshold-dbm = -82.000000000
[1-21;dot11g] dot11-energy-detection-power-threshold-dbm = -62.000000000
[1-21;dot11g] dot11-signal-capture-ratio-threshold-db = 1000.000000000
[1-21;dot11g] dot11-ofdm-symbol-duration = 0.000004000
[1-21;dot11g] dot11-slot-time = 0.000009000
[1-21;dot11g] dot11-sifs-time = 0.000010000
[1-21;dot11g] dot11-rx-tx-turnaround-time = 0.000002000
[1-21;dot11g] dot11-phy-rx-start-delay = 0.000025000
[1-21;dot11g] dot11-preamble-length-duration = 0.000016000
[1-21;dot11g] dot11-short-training-field-duration = 0.000008000
[1-21;dot11g] dot11-plcp-header-length-duration = 0.000004000
[1-21;dot11g] dot11-phy-high-throughput-header-additional-duration = 0.000012000
[1-21;dot11g] dot11-phy-high-throughput-header-additional-per-stream-duration = 0.000004000


gis-object-position-in-latlong-degree = false

#Component CBR
[1;CBR1] cbr-destination = 2
[2;CBR2] cbr-destination = 1
[1;CBR1] cbr-start-time = 10.000000000
[2;CBR2] cbr-start-time = 10.000000000
[1;CBR1] cbr-end-time = 110.000000000
[2;CBR2] cbr-end-time = 110.000000000
[1;CBR1] cbr-start-time-max-jitter = 1.000000000
[2;CBR2] cbr-start-time-max-jitter = 1.000000000
[1;CBR1] cbr-payload-size-bytes = 128
[2;CBR2] cbr-payload-size-bytes = 128
[1;CBR1] cbr-traffic-defined-by = Interval
[2;CBR2] cbr-traffic-defined-by = Interval
[1;CBR1] cbr-interval = 1.000000000
[2;CBR2] cbr-interval = 1.000000000
[1;CBR1] cbr-priority = 0
[2;CBR2] cbr-priority = 0
[1;CBR1] cbr-auto-port-mode = true
[2;CBR2] cbr-auto-port-mode = true
[1;CBR1] cbr-use-virtual-payload = false
[2;CBR2] cbr-use-virtual-payload = false


statistics-configuration-file = simulation.statconfig
