#Instance general
#Component Simulation
seed = 123
mobility-seed = 123
simulation-time = 120.000000000
time-step-event-synchronization-step = 0.100000000
trace-output-mode = Text
trace-index-output = true
trace-output-file = simulation.trace
statistics-output-file = simulation.stat
statistics-output-for-no-data = true
allow-node-re-creation = false
network-terminate-sim-when-routing-fails = false
progress-sim-time-output-interval-percents = 5.000000000
enable-unused-parameter-warnings = true

#Component GIS
gis-road-driving-side = Left
gis-los-break-down-cureved-road-into-straight-roads = true
gis-number-entrances-to-building = 0
gis-number-entrances-to-station = 0
gis-number-entrances-to-busstop = 0
gis-number-entrances-to-park = 0
gis-road-set-intersection-margin = false

#Component Antenna/Propagation
number-data-parallel-threads-for-propagation = 1
antenna-pattern-two-2d-to-3d-interpolation-algorithm-number = 1
antenna-patterns-are-in-legacy-format = false

#Component Dot11
dot11-bit-error-rate-curve-file = dot11modes.ber


[101000001-101000016] is-member-of = IntersectionObjectType
[100000001-100000024] is-member-of = RoadObjectType
[102000001-102000009] is-member-of = BuildingObjectType
[1-30] is-member-of = GeoNetObjectType
#Instance general

#Instance 5.9GHzBand
#Component Channel
[5.9GHzBand] channel-count = 7
[5.9GHzBand] channel-0-frequency-mhz = 5860.000000000
[5.9GHzBand] channel-0-bandwidth-mhz = 10.000000000
[5.9GHzBand] channel-1-frequency-mhz = 5870.000000000
[5.9GHzBand] channel-1-bandwidth-mhz = 10.000000000
[5.9GHzBand] channel-2-frequency-mhz = 5880.000000000
[5.9GHzBand] channel-2-bandwidth-mhz = 10.000000000
[5.9GHzBand] channel-3-frequency-mhz = 5890.000000000
[5.9GHzBand] channel-3-bandwidth-mhz = 10.000000000
[5.9GHzBand] channel-4-frequency-mhz = 5900.000000000
[5.9GHzBand] channel-4-bandwidth-mhz = 10.000000000
[5.9GHzBand] channel-5-frequency-mhz = 5910.000000000
[5.9GHzBand] channel-5-bandwidth-mhz = 10.000000000
[5.9GHzBand] channel-6-frequency-mhz = 5920.000000000
[5.9GHzBand] channel-6-bandwidth-mhz = 10.000000000
[5.9GHzBand] propagation-enable-mask-calculated-channel-interference = false
[5.9GHzBand] propagation-model = ITU-R_P.1411
[5.9GHzBand] p1411-los-calculation-policy = Median
[5.9GHzBand] p1411-max-diffraction-count = 1
[5.9GHzBand] p1411-los-angle-degrees-between-roads = 1.000000000
[5.9GHzBand] p1411-nlos-max-distance-meters = 100000.000000000
[5.9GHzBand] p1411-enable-building-based-los-calculation = false
[5.9GHzBand] p1411-nlos1-calculation-policy = Urban
[5.9GHzBand] p1411-nlos2-calculation-policy = Urban
[5.9GHzBand] p1411-nlos2-loss-direction = Directional
[5.9GHzBand] p1411-nlos2-use-policy = Default
[5.9GHzBand] p1411-nlos2-extension = No
[5.9GHzBand] p1411-nlos2-use-larger-loss-at-nlos-bound = false
[5.9GHzBand] p1411-nlos800to2000-calculation-policy = Lower
[5.9GHzBand] p1411-enable-shf-los-calculation = true
[5.9GHzBand] p1411-shf-effective-road-height-meters = 0.000000000
[5.9GHzBand] p1411-shf-short-distance-meters = 20.000000000
[5.9GHzBand] p1411-enable-propagation-between-terminals-located-below-rooftop-height-at-uhf = false
[5.9GHzBand] p1411-building-height-differ-threshold-meters = 1.000000000
[5.9GHzBand] p1411-well-below-rooftop-height-meters = 3.000000000
[5.9GHzBand] enable-propagation-delay = true
[5.9GHzBand] max-signal-propagation-meters = 100000000.000000000
[5.9GHzBand] propagation-allow-multiple-interfaces-on-same-channel = true
[5.9GHzBand] fading-model = Off


#Instance general
#Component Common

#Component Position

#Component CommunicationObject

#Component SimulationObject
[1-30] trace-enabled-tags = Application Mac Phy
[1-30,100000001-100000024,101000001-101000016,102000001-102000009] trace-start-time = 0.000000000

#Component GisObject
[100000001-100000024,101000001-101000016,102000001-102000009] gisobject-disable-time = inf_time
[100000001-100000024,101000001-101000016,102000001-102000009] gisobject-enable-time = inf_time
[100000001-100000024,101000001-101000016,102000001-102000009] gisobject-elevation-reference-type = GroundLevel

#Component Building

#Component Road

#Component PointObject

#Component Intersection

#Component Network (Node)
[1-30] network-hop-limit = 64
[1-30] network-loopback-delay = 0.000000001

#Component Transport

#Component Mobility
[1-30] mobility-model = Gis-Based-Random-Waypoint
[1-30] mobility-granularity-meters = 1.000000000
[1-30] mobility-wp-pause-time = 0.000000000
[1-30] mobility-wp-min-speed-meter-per-sec = 15.000000000
[1-30] mobility-wp-max-speed-meter-per-sec = 20.000000000
[1-30] mobility-gis-ground-object-type = Road
[1-30] mobility-init-positions-file = simulation.pos
[1-30] mobility-lane-offset-meters = 4.000000000
[1-30] mobility-route-search-based-algorithm = false

#Component ITS Broadcast
[1-30] its-broadcast-app-traffic-start-time = 10.000000000
[1-30] its-broadcast-app-traffic-end-time = 110.000000000
[1-30] its-broadcast-app-traffic-start-time-max-jitter = 1.000000000
[1-30] its-broadcast-app-packet-payload-size-bytes = 128
[1-30] its-broadcast-app-traffic-interval = 1.000000000
[1-30] its-broadcast-app-packet-priority = 0


#Instance dot11p
#Component Antenna/Propagation (Interface)
[1-30;dot11p] channel-instance-id = 5.9GHzBand
[1-30;dot11p] antenna-model = Omnidirectional
[1-30;dot11p] antenna-gain-dbi = 0.000000000
[1-30;dot11p] antenna-height-meters = 1.500000000
[1-30;dot11p] antenna-azimuth-degrees = 0.000000000
[1-30;dot11p] antenna-elevation-degrees = 0.000000000
[1-30;dot11p] antenna-offset-meters = 0.000000000
[1-30;dot11p] antenna-offset-degrees = 0.000000000

#Component Routing

#Component Network (Interface)
[1-30;dot11p] network-address = 90.0.0.0 + $n
[1-30;dot11p] network-prefix-length-bits = 16
[1-30;dot11p] network-subnet-is-multihop = false
[1-30;dot11p] network-address-is-primary = false
[1-30;dot11p] network-allow-routing-back-out-same-interface = true
[1-30;dot11p] network-ignore-unregistered-protocol = false
[1-30;dot11p] network-mtu-bytes = 1500
[1-30;dot11p] mac-protocol = GeoNet
[1-30;dot11p] interface-output-queue-max-packets-per-subq = 1000
[1-30;dot11p] interface-output-queue-max-bytes-per-subq = 1000000
[1-30;dot11p] network-enable-dhcp-client = false
[1-30;dot11p] network-enable-dhcp-server = false
[1-30;dot11p] network-enable-ndp = false
[1-30;dot11p] network-enable-arp = false

#Component Dot11Mac
[1-30;dot11p] dot11-node-type = Ad-hoc
[1-30;dot11p] dot11-initial-channel-number = 0
[1-30;dot11p] dot11-map-ip-multicast-addresses = false
[1-30;dot11p] dot11-enable-high-throughput-mode = false
[1-30;dot11p] dot11-adaptive-rate-control-type = Static
[1-30;dot11p] dot11-modulation-and-coding = BPSK_0.5
[1-30;dot11p] dot11-modulation-and-coding-for-management-frames = BPSK_0.5
[1-30;dot11p] dot11-modulation-and-coding-for-broadcast = BPSK_0.5
[1-30;dot11p] dot11-ack-datarate-selection-type = SameAsData
[1-30;dot11p] dot11-rts-threshold-size-bytes = 2346
[1-30;dot11p] dot11-short-frame-retry-limit = 7
[1-30;dot11p] dot11-long-frame-retry-limit = 4
[1-30;dot11p] dot11-max-aggregate-mpdu-size-bytes = 0
[1-30;dot11p] dot11-protect-aggregate-frames-with-single-acked-frame = true
[1-30;dot11p] dot11-allow-frame-aggregation-with-txop-zero = false
[1-30;dot11p] dot11-contention-window-min-slots = 15
[1-30;dot11p] dot11-contention-window-max-slots = 1023
[1-30;dot11p] dot11-disabled-to-jump-on-medium-without-backoff = false
[1-30;dot11p] dot11-qos-type = EDCA
[1-30;dot11p] dot11-max-packet-priority = 7
[1-30;dot11p] dot11-edca-category-0-priority-list = 1 2
[1-30;dot11p] dot11-edca-category-0-num-aifs-slots = 9
[1-30;dot11p] dot11-edca-category-0-contention-window-min-slots = 15
[1-30;dot11p] dot11-edca-category-0-contention-window-max-slots = 1023
[1-30;dot11p] dot11-edca-category-0-frame-lifetime = inf_time
[1-30;dot11p] dot11-edca-category-0-downlink-txop-duration = 0.000000000
[1-30;dot11p] dot11-edca-category-1-priority-list = 0 3
[1-30;dot11p] dot11-edca-category-1-num-aifs-slots = 6
[1-30;dot11p] dot11-edca-category-1-contention-window-min-slots = 15
[1-30;dot11p] dot11-edca-category-1-contention-window-max-slots = 1023
[1-30;dot11p] dot11-edca-category-1-frame-lifetime = inf_time
[1-30;dot11p] dot11-edca-category-1-downlink-txop-duration = 0.000000000
[1-30;dot11p] dot11-edca-category-2-priority-list = 4 5
[1-30;dot11p] dot11-edca-category-2-num-aifs-slots = 3
[1-30;dot11p] dot11-edca-category-2-contention-window-min-slots = 7
[1-30;dot11p] dot11-edca-category-2-contention-window-max-slots = 15
[1-30;dot11p] dot11-edca-category-2-frame-lifetime = inf_time
[1-30;dot11p] dot11-edca-category-2-downlink-txop-duration = 0.000000000
[1-30;dot11p] dot11-edca-category-3-priority-list = 6 7
[1-30;dot11p] dot11-edca-category-3-num-aifs-slots = 2
[1-30;dot11p] dot11-edca-category-3-contention-window-min-slots = 3
[1-30;dot11p] dot11-edca-category-3-contention-window-max-slots = 7
[1-30;dot11p] dot11-edca-category-3-frame-lifetime = inf_time
[1-30;dot11p] dot11-edca-category-3-downlink-txop-duration = 0.000000000

#Component Dot11Phy
[1-30;dot11p] dot11-phy-protocol = IEEE802.11
[1-30;dot11p] dot11-tx-power-specified-by = UpperLayer
[1-30;dot11p] dot11-default-tx-power-dbm-when-not-specified = 20.000000000
[1-30;dot11p] dot11-radio-noise-figure-db = 10.000000000
[1-30;dot11p] dot11-preamble-detection-power-threshold-dbm = -85.000000000
[1-30;dot11p] dot11-energy-detection-power-threshold-dbm = -65.000000000
[1-30;dot11p] dot11-signal-capture-ratio-threshold-db = 1000.000000000
[1-30;dot11p] dot11-ofdm-symbol-duration = 0.000008000
[1-30;dot11p] dot11-slot-time = 0.000013000
[1-30;dot11p] dot11-sifs-time = 0.000032000
[1-30;dot11p] dot11-rx-tx-turnaround-time = 0.000002000
[1-30;dot11p] dot11-phy-rx-start-delay = 0.000049000
[1-30;dot11p] dot11-preamble-length-duration = 0.000032000
[1-30;dot11p] dot11-plcp-header-length-duration = 0.000008000
[1-30;dot11p] dot11-phy-high-throughput-header-additional-duration = 0.000012000
[1-30;dot11p] dot11-phy-high-throughput-header-additional-per-stream-duration = 0.000004000

#Component GeoNetDCC
[1-30;dot11p] its-geonet-congestion-monitoring-max-vehicles = 100
[1-30;dot11p] its-geonet-congestion-monitoring-timeout-time = 1.000000000
[1-30;dot11p] its-geonet-dcc-control-loop-interval = 0.100000000
[1-30;dot11p] its-geonet-enable-tranmit-datarate-control = true
[1-30;dot11p] its-geonet-tdc-congestion-vs-datarate-mbps-table = "0:6 30:9 50:12 60:18"
[1-30;dot11p] its-geonet-enable-tranmit-power-control = true
[1-30;dot11p] its-geonet-tpc-congestion-vs-tx-power-dbm-table = "0:20 30:15 40:10 50:5 60:0"
[1-30;dot11p] its-geonet-tpc-interpolation-step-dbm = 1.000000000
[1-30;dot11p] its-geonet-enable-dcc-sensitivity-control = true
[1-30;dot11p] its-geonet-dsc-congestion-vs-sensitivity-dbm-table = "0:-85 30:-80 40:-75 50:-70 60:-65"
[1-30;dot11p] its-geonet-dsc-interpolation-step-dbm = 1.000000000


gis-object-position-in-latlong-degree = false
gis-object-file-path = shapes/
gis-object-files = intersection.shp road.shp trafficlight.shp busstop.shp building.shp


statistics-configuration-file = simulation.statconfig
